.box {
    &-yellow {
        background-color: yellow;
    }
    &-blue {
        background-color: blue;
    }
    &-green {
        background-color: green;
    }
}

// 접두사를 사용할 수는 없습니다.
// .box {
//     hello-&-yellow {
//         background: yellow;
//     }
//     hello-&-red {
//         background: red;
//     }
//     hello-&-blue {
//         background: blue;
//     }
// }