body {
  background-color: #eee;
}

header {
  width: 100vw;
  height: 20vh;
  border-radius: 20px;

  /* background-color: aquamarine; */
}
main {
  display: grid;
  width: 80%;
  margin: auto;
  background-color: #eee;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: column;
  padding: 20px;
  background: #eee;
}

main > * {
  border: 1px solid;
  border-radius: 1rem;

  padding: 1rem;
}
#left {
  border: solid 2px #e1e1e1;
  grid-column: 1/2;
}
#right {
  border: solid 2px #e1e1e1;
  grid-column: 2/3;
}
.ad {
  grid-row: span 2;
}
.news {
  grid-row: span 7;
}
.news-sub {
  grid-row: span 4;
}

.enter-news {
  grid-row: span 6;
}

.ad3 {
  grid-row: span 2;
}

.sports-news {
  grid-row: span 6;
}

.cafe-story {
  grid-row: span 6;
}

.hot-topic {
  grid-row: span 6;
}

.shopping-hotdeal {
  grid-row: span 4;
}

.login {
  grid-row: span 2;
}

.weather {
  grid-row: span 1;
}

.ad2 {
  grid-row: span 4;
}

.shopping {
  grid-row: span 7;
}

.stock {
  grid-row: span 2;
}

.short-video {
  grid-row: span 7;
}

.hot-deal {
  grid-row: span 5;
}

.ad4 {
  grid-row: span 4;
}

.game {
  grid-row: span 5;
}

.donation {
  grid-row: span 3;
}

.enter-rank {
  grid-row: span 3;
}

.today-photo {
  grid-row: span 4;
}
