body {
  background-color: #eee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

header {
  width: 100vw;
  height: 20vh;
  border-radius: 20px;

  /* background-color: aquamarine; */
}

.search-wrap {
  width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

@keyframes rotate {
  0% {
    transform: ;
  }
  100% {
    transform: rotate(1turn);
  }
}
.search-wrap > .search-box {
  position: relative;
  z-index: 0;
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;

  &::before {
    content: "";
    position: absolute;
    z-index: -2;
    left: -20%;
    top: -200%;
    width: 800px;
    height: 800px;
    background-color: #de9696;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#de9696, #de9696),
      linear-gradient(#ffc541, #ffc541), linear-gradient(#b788df, #b788df),
      linear-gradient(#739cfa, #739cfa);
    animation: rotate 0.5s linear infinite;
  }
  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 10px;
  }
}

main {
  display: grid;
  width: 80%;
  margin: auto;
  background-color: #eee;
  border: 1px solid #e1e1e1;
  border-radius: 20px;
  gap: 20px;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  background: #eee;
}

main > * {
  /* border: 1px solid #e1e1e1; */
  border-radius: 1rem;

  padding: 1rem;
}

.left > * {
  border: solid 2px #e1e1e1;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.left {
  display: grid;
  /* grid-column: 1/2;
  grid-auto-flow: column; */
  grid-auto-rows: 1fr;
  gap: 20px;
}

.right > * {
  border: solid 2px #e1e1e1;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.right {
  display: grid;
  gap: 20px;
  grid-auto-rows: 1fr;
  /* grid-auto-flow: column; */
  grid-column: 2/3;
}

.ad {
  grid-row: span 2;
  max-height: 130px;
  display: flex;
  /* padding: 0; */
  justify-content: center;
}

.ad > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.news {
  margin-top: -20px;
  grid-row: span 7;
}
.news-sub {
  grid-row: span 4;
}

.enter-news {
  grid-row: span 6;
}

.ad3 {
  grid-row: span 2;
}

.sports-news {
  grid-row: span 6;
}

.cafe-story {
  grid-row: span 6;
}

.hot-topic {
  grid-row: span 6;
}

.shopping-hotdeal {
  grid-row: span 4;
}

.login {
  min-height: 130px;
  grid-row: span 2;
}

.weather {
  grid-row: span 1;
}

.ad2 {
  grid-row: span 4;
}

.shopping {
  grid-row: span 7;
}

.stock {
  grid-row: span 2;
}

.short-video {
  grid-row: span 7;
}

.hot-deal {
  grid-row: span 5;
}

.ad4 {
  grid-row: span 4;
}

.game {
  grid-row: span 5;
}

.donation {
  grid-row: span 3;
}

.enter-rank {
  grid-row: span 3;
}

.today-photo {
  grid-row: span 4;
}
